<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Busqueda de productos</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.min.css') }}">
		{% endblock %}
		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('public/js/jquery-3.3.1.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('public/js/bootstrap.min.js') }}"></script>
		{% endblock %}
		<script type="text/javascript">
			function buscarProductos(){
				var keyword = $('#busqueda_producto').val();
				$('#resultados').html("");
				//url del servicio de busqueda
				var URLBUSCARPRODUCTOS = '{{ path('cnc_product_busqueda') }}';
				if ( keyword.length >= 4 ) { // Minimo de caracteres
		            var data = {keyword: keyword};
		            $.ajax({
		                type: 'POST',
		                url: URLBUSCARPRODUCTOS,
		                data: data,
		                dataType: 'json',
		                timeout: 3000,
		                success: function(response){
		                	var productosEncontrados = response['respuesta'];
		                	if(productosEncontrados.length>0){
								for (var i = 0; i < productosEncontrados.length; i++) {
			                		//console.log(productosEncontrados[i]['titulo']);
		                			var texto = "";
		                			texto+='<tr><td>'+productosEncontrados[i]['titulo']+'</td>';
		                			texto+='<td>'+productosEncontrados[i]['descripcion']+'</td></tr>';
		                			$('#resultados').append(texto);
			                	}
		                	} else{
	                			alert('Sin coincidencias');
		                	}
		                	
		                },
		                error: function() {
		                   alert('Sin conexion');
		                }
		            });
		        } else {
		           alert("La Búsqueda debe ser de más de 4 carácteres");
		        }
			}
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		   	<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Miguel Nuñez</a>
		    </div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Búsqueda Productos <span class="sr-only">(current)</span></a></li>
		        <li><a href="{{ path('cnc_product_logs') }}">Estadisticas</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<h2>Busque el producto</h2>
		<form class="form-inline" role="form">
		  <div class="form-group">
		    <label class="sr-only" for="busqueda_producto">Producto</label>
		    <input type="text" class="form-control" id="busqueda_producto"
		           placeholder="Busque el producto">
		  </div>
		  <button type="button" class="btn btn-default" onclick="buscarProductos()">Buscar</button>
		  <br/><br/>	
		  <table class="table">
		  	<thead>
			    <tr>
			      <th scope="col">Titulo</th>
			      <th scope="col">Descripción</th>
			    </tr>
		  	</thead>
		  	<tbody id="resultados"></tbody>
		  </table>
		</form>
	</body>
</html>